@import url(https://github.com/DanielFreitassc/site-do-propeller-clock/blob/main/Midias/digital-7.ttf);

*{
    font-family: 'Share Tech Mono', monospace;
    
}

body{
    background-image: url("midias/yy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
}

header{
    margin: 0px;
    padding: 3px;
    
}

main{
    background-color:white;
    margin: 0px auto;
    width: 600px;
    border: 2px solid black;
    margin-bottom: 160px;
    
}

hr{
    margin: 0px;
}

h1{
    text-align: center;
    margin: 0px;
}
li:hover{
    color: rgb(43, 255, 0);
    cursor: pointer;
}
li{
    font-size: 30px;
}
#componente{
    font-size: 40px;
}
#divi{
    font-size: 50px;
}

#voltar{
    font-size: 20px;
}