@import url(https://github.com/DanielFreitassc/site-do-propeller-clock/blob/main/Midias/digital-7.ttf);

*{
    font-family:"digital-7",sans-serif;
}

body{
    background-color: rgb(149, 235, 157);
    background-image: url("midias/yy.jpg");
    margin: 0%;
}

header{
    margin: 0px;
    padding: 3px;
    background-color: rgb(69, 144, 69);
}

main{
    background-color:white;
    margin: 0px auto;
    width: 700px;
    
}

hr{
    margin: 0px;
}

h1{
    text-align: center;
    margin: 0px;
}
li:hover{
    color: red;
    cursor: pointer;
}
li{
    font-size: 30px;
}
#componente{
    font-size: 40px;
}
#divi{
    font-size: 50px;
}

#voltar{
    font-size: 20px;
}