*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(149, 235, 157);
}

main{
    background-color:white;
    margin: auto;
    width: 700px;
}
hr{
    color: black;
}

.logo{
  
}