#listasobre{
    text-align: center;
    text-align: left;
    font-size: 25px;   
}

#sobrebackground{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(4, 87, 143) 0%, rgb(17, 139, 163) 35%, rgb(2, 122, 146) 100%);
}

#sobrenos{
    font-size: 40px;
    text-align: left;
    line-height: 200px;     
}

#trabalhos{
    font-size: 25px;
}

#rodape{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(124, 124, 124);
    color: white;
    text-align: center;
    letter-spacing: 2px;
    padding-left: 10px;
    word-spacing: 20px;   
}

#logozetta{
    width: 300px;
    height: 281px;
    margin: 10px;  
}

#alinhamentologo {
    position: fixed;
    width: 99%;
    text-align: right;
    display: inline-block;
    box-sizing: border-box;
    border: none; 
    padding: 10px;
    right: 0; 
}  

#botaovoltar{
    line-height: 200px;
}